#girisYapContainer {
    background-color: #333333;
    color: #ffffff;
    padding: 20px;
    margin: 20px auto;
    max-width: 400px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#girisYapContainer h2 {
    color: #ffffff;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    padding: 10px;
    background-color: #742677;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #555;
}

#sessionTimer {
    display: none;
    margin-top: 30px; /* Oturum süresi paragrafına bir üst boşluk ekleyin */
}

#timerValue {
    color: #ffffff;
}

button#cikisYapBTN {
    display: block;
    margin: 15px auto;
    background-color: #742677;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button#cikisYapBTN:hover {
    background-color: #8C0000;
}
