body {
    background-color: #100f0fdb;
}

.app-container {
    background-image: url('https://png.pngtree.com/thumb_back/fw800/background/20230527/pngtree-the-black-woman-was-an-incredible-artistic-artist-image_2669522.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.registration-form {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
}

label {
    display: block;
    margin: 10px 0;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
}

button {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}