/* ------------------------------------------- */
/*-- kuaforPanel.css */
/* ------------------------------------------- */

/* Global Stiller */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f9fa;
    color: #212529;
}

/* Header Stilleri */
header {
    background-color: #343a40;
    color: #ffffff;
}

header h1 {
    margin: 0;
}

/* Navigasyon Stilleri */
nav {
    padding: 10px 0;
}

nav a {
    color: #ffffff;
    text-decoration: none;
}

nav .btn-dark {
    margin-top: -5px;
}

/* Navbar Stilleri */
.navbar {
    margin-bottom: 20px;
}

/* Ana Sayfa Butonu Stilleri */
#getRandevularBtn {
    background-color: #007bff;
    border-color: #007bff;
}

#getRandevularBtn:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

/* Container Stilleri */
.container {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Randevu Kartı Stilleri */
.card {
    margin-bottom: 20px;
    border: 2px solid #007bff; /* Kart çerçeve rengi */
    border-radius: 10px;
}

.card-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #007bff; /* Kart başlık rengi */
}

.card-text {
    margin-bottom: 5px;
    color: #495057; /* Kart metin rengi */
}

/* Stil dosyanıza ekleyin veya mevcut stil bölümüne ekleyin */
header .navbar-light {
    background-color: #007BFF; /* Mavi renk */
    padding: 10px 20px; /* Kutu içi boşluk */
    color: white; /* Yazı rengi beyaz */
    border-radius: 5px; /* Köşeleri yuvarla */
    text-decoration: none; /* Link altı çizgisi olmasın */
    margin-right: 10px; /* Sağ taraftan boşluk ekleyin */
    text-align: center;
}

header .navbar-light:hover {
    background-color: #0056b3; /* Hover efekti için farklı bir mavi renk */
}


nav {
    background-color: #007BFF; /* Navbar arkaplan rengi (mavi) */
    padding: 10px; /* Navbar içerisindeki elemanlardan etrafına boşluk bırakma */
    text-align: center;
}

ul {
    list-style: none; /* Liste öğelerinin varsayılan işaretçilerini kaldırma */
    margin: 0; /* Liste kenar boşluğunu sıfırlama */
    padding: 0; /* Liste içerisindeki öğelerin etrafındaki boşluğu sıfırlama */
    text-align: center;
}

#homeButton {
    background-color: #0056b3; /* Buton arkaplan rengi (koyu mavi) */
    color: white; /* Buton yazı rengi */
    padding: 10px 20px; /* Buton içerisindeki boşluk (yatay 10px, dikey 20px) */
    border: none; /* Buton kenarlık yok */
    border-radius: 5px; /* Buton köşelerini yuvarla */
    cursor: pointer; /* Butona tıklanabilir imleç göster */
    text-align: center;
}

#homeButton:hover {
    background-color: #004080; /* Hover efekti için farklı bir mavi renk */
}
