/* ------------------------------------------- */
/*-- randevuAl.css */
/* ------------------------------------------- */

body {
    background-color: #f8f9fa; /* Arka plan rengi */
}

.container-fluid {
    padding: 20px;
}

.row {
    margin: 20px 0;
}

.card {
    background-color: #fff; /* Panel arka plan rengi */
    border: 1px solid #ddd; /* Panel kenarlık rengi */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Panel gölge efekti */
}

/* Bootstrap stil eklemeleri */
.navbar {
    margin-bottom: 20px;
}

.btn-primary {
    background-color: #007bff; /* Ana renk */
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3; /* Hover rengi */
    border-color: #0056b3;
}

.btn-success {
    background-color: #28a745; /* Başarı rengi */
    border-color: #28a745;
}

.btn-success:hover {
    background-color: #218838; /* Hover rengi */
    border-color: #218838;
}

/* Detayları Göster butonu stil eklemeleri */
button.detailsButton {
    background-color: #28a745; /* Yeşil renk kullanabilirsiniz */
    color: #fff; /* Beyaz metin rengi */
    padding: 8px 16px; /* Daha geniş bir iç boşluk */
    border: none; /* Kenarlık olmaması */
    border-radius: 4px; /* Köşeleri yuvarla */
    cursor: pointer; /* İmleci el göster */
    transition: background-color 0.3s; /* Arka plan rengi değişimini yumuşat */
}

button.detailsButton:hover {
    background-color: #218838; /* Hover durumunda renk değişimi */
}
